<div class = "container ">
  <% @recipes.each do |recipe| %>
    <%= link_to recipe_path(recipe.id), id: "#{recipe.id}" do %>
      <div class="w-100 row border border-dark mt-2 mb-2 p-3">
        <div class="col-sm-6">
            <h5 class="card-title display-4">Recipe <%= recipe.id %> </h5>
            <%= button_to "Delete", 
            {
              :controller => 'recipes', 
              :action => 'destroy', 
              :id => recipe.id
            },
          method: :delete, class:"btn btn-danger mt-4" %>
        </div>
        <div class="col-sm-6">
            <h5 class="card-title">Description for the recipe</h5>
              <p class="card-text"><%= recipe.description %></p>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
