<tbody>
  <tr>
    <td>food.name</td>
    <td>Clr</td>
    <td align="right">1.833 us</td>
    <td align="right">1.00</td>
    <td align="right">2.0542</td>
    <td align="right">6.31 KB</td>
  </tr>
</tbody>