<div class='foods-list'>
  <%= link_to "Add Food", new_food_path, class:"btn btn-primary mt-" %><br />
  <table class="container table table-striped table-bordered mt-4">
    <thead>
      <tr>
        <th>Food</th>
        <th>Measurement unit</th>
        <th>Unit price</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @foods.each do |food| %>
        <%= render food %>
      <% end %>
    </tbody>
  </table>
</div>
