// @import "bootstrap-sprockets";
// @import "bootstrap";
a,
a:-webkit-any-link,
a:hover {
  color: white;
  font-size: 20px;
  text-decoration: none;
}

main {
  display: flex;
  align-items: center;
  flex-direction: column;
}

header {
  background-color: black;
  height: 60px;
  width: 100%;
  margin-bottom: 100px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 0 10px;

  div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 300px;
  }

}

.foods-list {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  table {
    border: 2px solid rgb(24, 22, 22);
    border-collapse: collapse;
    width: 100%;
    margin: 0 auto;
  }

  th {
    background-color: rgb(117, 109, 109);
    font-weight: bold;
    font-size: 1em;
    padding: 5px 10px;
    text-align: left;
    border-left: 1px solid black;
  }

  td {
    border-left: 1px solid black;
    padding: 5px 10px;
    vertical-align: top;
  }

  tr:nth-child(2n) {
    background-color: lightgray;
  }
}
